@charset "utf-8";
.chart {
	position: relative;
	width: 180px;
	height: 180px;
	margin-bottom: 50px;
	text-align: center;
	/*font-weight: bold;*/
}
.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.percent {
	font-size: 25px;
	line-height: 136px;
	z-index: 2;
	color: #FF8000;
}
.percent:after {
	content: '%';
	margin-left: 0.1em;
	font-size: .8em;
}
.pe{
	color:#FFF;
  	font-size: 15px;
	}
.aper{
	color:#000;
	margin-top: -62px;
  	margin-bottom: 62px;
	}

